{% extends 'base.html' %}
{% block title %}Eshop | Signup {% endblock%}
{% block body%}
background-color:rgb(248, 240, 227,0.5);
{% endblock body%}
{% block content %}
<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-8 offset-md-2"style="margin-top:60px; height:800px;width:700px;  border:5px solid grey; border-radius:5px; background-image:url('static/index1.webp') ;">
            {% comment %} <h1 class="font-weight-light">Signup</h1> {% endcomment %}
            <center><h1 style="color:white;">Signup here </h1></center>
            <hr>
            <form action="/signup" method="POST" style="border:2px;padding:20px; margin:0px 120px 50px 120px; background-color:rgba(255,255,255,0.8);opacity:0.8">
                {% if error %}
                <p style="color:red"> {{ error.field_error }} </p>
                <p style="color:green"> {{ error.success }} </p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input value="{{ userData.name }}" name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                    {% if error %}
                    <small style="color:red"> {{ error.name_error }} </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input value="{{ userData.email }}" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    {% if error %}
                    <small style="color:red"> {{ error.emailExits_error }} </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input value="{{ userData.phone }}" name="phone" type="number" class="form-control" id="phone" placeholder="Enter Phone Number">
                    {% if error %}
                    <small style="color:red"> {{ error.phoneNumber_error }} </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Enter Password">
                    {% if error %}
                    <small style="color:red">{{ error.notMatch_error }}
                        {{ error.minPass_error }} </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input name="confirm_password" type="password" class="form-control" id="confirm_password" placeholder="Enter Password">
                    {% if error %}
                    <small style="color:red"> {{ error.notMatch_error }}
                        {{ error.minPass_error }} </small>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="profile_pic">Profile pic</label>
                    <input name="profile_pic" type="file" class="form-control" id="profile_pic" placeholder="Profile Pic">
                    {% if error %}
                    <small style="color:red"> {{ error.notMatch_error }}
                        {{ error.minPass_error }} </small>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}